

:after,:before {
  box-sizing: inherit
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

body {
    font-family: serif;
    background-color: #444;
    color: #fff;
    margin: 0;
    padding: 0;
}

main {
  display: block;
}

small {
  font-size:12px;
}

ol,ul {
  margin: 0;
  padding: 0;
  list-style: none
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.logos ul{
  margin-top: 10px;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #001;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
h2 {
    color: #fff;
}
p {
  font-size: 18px;
}
/*footerの設定*/
footer {
  background:url(img/bg_kamen.webp)no-repeat;
  background-color: #001;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: auto;
  width: 100%;
  height: 450px;
}

/*footerの画像設定*/
.portal-logo {
  margin-top: 70px;
}

/*著作権の表示設定*/
.copylight {
  margin-top: 180px;
}

/*強制的に上にスクロールbtn*/
#btn1{
  background: url(img/KILLER_QUEEN.jpg);
  background-size: cover;
  filter: brightness(0.8);
  color:#fff;
  text-shadow:                
  -1px -1px 0 #000,  
  1px -1px 0 #000,  
  -1px 1px 0 #000,  
  1px 1px 0 #000;
  font-family: serif;
  font-size: 16px;
  position:fixed;
  bottom:75px;
  right:15px;
  cursor:pointer;
  width:110px;
  height:110px;
  border-radius: 50%;
}

/*To Be Continued*/
#btn2 img{
  z-index: 1000; 
  overflow: hidden; 
  position: fixed;
  bottom: 5px;
  right: 15px;
  padding: 10px;
  cursor: pointer;
  width: 160px;
  height: 70px;
}

/*物語のあらすじの設定*/
.abt-Box_Inner {
  display: flex;
  justify-content: center;
  align-items: center;

}

.abt-Box_Inner .box-image {
  width: 560px;
}

.abt-Box_Inner .box-image img {
  width: 100%;
  height: auto;
}

.abt-Box_Inner .box-text {
  width: 640px;
  padding: 0 0 0 60px;
}

.abt-Box_Inner .box-text h1 {
  font-size: 26px;
  line-height: 1.83333;
}




/*slickスライドの設定*/
.slider {
  width: 80%;
  margin: 20px auto;
}
  
.slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slide img {
  margin: 600px;
}

.abt-Chara {
  width: 85%;
  margin: 0 120px 0;
}

.chara-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chara-item {
  display: flex;
  line-height: 1;
  font-size: 55%;
  box-sizing: border-box;
  width: 570px;
  margin-bottom: 20px;
}

.abt-Chara_Inner .chara-image {
  background: #535353
}

.abt-Chara_Inner .chara-image img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.abt-Chara_Inner .chara-text {
  color: #fff
}

.abt-Chara_Inner .chara-text {
  width: 450px;
  padding: 10px 0 0 30px
}

.abt-Chara_Inner .chara-text p.name {
  padding: 0 0 14px;
  font-size: 24px
}

.abt-Chara_Inner .chara-text p.name span {
  padding: 0 0 0 14px;
  font-size: 14px
}

.abt-Chara_Inner .chara-text p.detail {
  margin: 14px 0 0;
  font-size: 14px;
  line-height: 1.85714
}

/*部の情報の設定　slickスライダー*/
.slide-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 10px;
}
  
.slide-text h3 {
  margin: 0;
  font-size: 24px;
}
  
.slide-text p {
  margin: 5px 0;
  font-size: 16px;
}

/*スライドの矢印の設定*/
.slide_arrow {
  width: 70px;
}
.aaa-arrow {
  position: relative;
  text-align: center;
  margin: 24px 0;
}
.prev-arrow {
  margin-right: 200px;
}
.next-arrow {
  margin-left: 200px;
}
.bbb-arrow {
  position: relative;
  text-align: center;
  margin: 24px 0;
}
